body {
    background-color: #555753;
    color: #ffffff;
    margin: 0px;
    padding: 0px;
}

header {
    display: block;
    background-color: #ffffff;
    color: #000000;
    height: 150px;
    width: 100%;
    margin-bottom: 2em;
}

header img {
    position: absolute;
    top: 40px;
    left: 20%;
}

header h1 {
    font-family: "Georgia", serif;
    font-variant: small-caps;
    position: absolute;
    top: 32px;
    left: 30%;
}

.content {
    padding-left: 20%;
    padding-right: 20%;
}

article h1, h2, h3 {
    font-family: "Georgia", serif;
    font-variant: small-caps;
    margin-bottom: 0px;
    padding-bottom: 0.5em;
}

article h1 {
    font-size: 24pt;
}

article h2 {
    font-size: 20pt;
}

article img.logo {
    display: block;
    text-align: center;
}

article p {
    margin-top: 0px;
    margin-bottom: 0.5em;
}

a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

footer {
    padding-left: 20%;
    padding-right: 20%;
    display: block;
    margin-top: 2em;
}
