<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{ page.title }}{% if page.category %} - {{ page.category | capitalize }}{% endif %} - {{ site.name }}</title>
    <link rel="stylesheet" href="/style/bootstrap.css" />
    <link rel="stylesheet" href="/style/vie-2012.css" />
    <link rel="shortcut icon" href="/style/vie-favicon.png" />
    {% if page.js_custom %}
    {% for file in page.js_custom %}
    <script src="{{ file }}"></script>
    {% endfor %}
    {% else %}
    {% for file in page.js_base %}
    <script src="{{ file }}"></script>
    {% endfor %}
    {% endif %}
    {% for file in page.js_extras %}
    <script src="{{ file }}"></script>
    {% endfor %}
    {% for file in page.css_base %}
    <link rel="stylesheet" href="{{ file }}" />
    {% endfor %}
    {% for file in page.css_extras %}
    <link rel="stylesheet" href="{{ file }}" />
    {% endfor %}
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-75936-15']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
    <footer class="container">
      <p>
      <strong>VIE.js</strong> is <a href="http://www.opensource.org/licenses/mit-license.php" rel="license">free software</a> developed by <a href="http://iks-project.eu/">IKS Project</a> and co-funded by the European Union
      </p>
     </footer>
  </body>
</html>
